<h2>Calculator</h2>

@using (Html.BeginForm("Calculate", "Calc"))
{
    @Html.Label("A:")
    @Html.TextBox("FirstVariable")

    <br />

    @Html.Label("B:")
    @Html.TextBox("SecondVariable")

    <br />
    <button type="submit" name="action" style='width:30px' value="Add">+</button>
    <button type="submit" name="action" style='width:30px' value="Sub">-</button>
    <button type="submit" name="action" style='width:30px' value="Mult">*</button>
    <button type="submit" name="action" style='width:30px' value="Div">/</button>
}
